<app-menu></app-menu>

<div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Dono</th>
          <th>Solicitante</th>
          <th>jogo</th>
          <th>Trocado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let solicitacao of solicitacoes">
          <td>{{solicitacao.dono.nome}}</td>
          <td>{{solicitacao.solicitante.nome}}</td>
          <td>{{solicitacao.jogo.nome}}</td>
          <td>{{solicitacao.trocado}}</td>
        </tr>
      </tbody>
    </table>
  </div>