<app-menu></app-menu>

<div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Foto</th>          
          <th>Titulo</th>
          <th>Descrição</th>
          <th>Console</th>
          <th>Genero</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let jogo of jogos" (click)="solicitar(jogo,modal)">
          <td><img src="{{apiImage}}{{jogo.foto}}" height="80" width="120"></td>          
          <td>{{jogo.nome}}</td>
          <td>{{jogo.descricao}}</td>
          <td *ngIf="jogo.id_console===1">X-box</td>
          <td *ngIf="jogo.id_console===2">PS 4</td>
          <td>{{jogo.id_genero}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #modal let-close="close">
      
        <div class="modal-dialog">
          <h4 class="modal-title">
            {{modalContent.title}}
          </h4>
          <div class="modal-body">
            <p>
              {{modalContent.body}}
            </p>
          </div>
          <button type="button" data-dismiss="modal" (click)="close()" class="btn btn-default">Continuar</button>
        </div>
      
      </ng-template>